# Import Libraries

In [303]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Read Dataset

In [304]:
data = pd.read_csv('energydata_complete.csv')

In [305]:
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

# Quiz Questions

# Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions: What is the Mean Absolute Error (in two decimal places)?

In [306]:
data_1 = data.drop(['date', 'lights'], axis=1)

# Minmax Scaler

In [307]:
#Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data_1), columns=data_1.columns)

# Splitting the dataset

In [308]:
X = normalised_data.drop(['Appliances'], axis=1)

In [309]:
Y = normalised_data['Appliances']

In [310]:
# Splitting the dataset

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state=42,test_size=0.3)

# Linear Regression Model

In [311]:
from sklearn.linear_model import LinearRegression

#Create Linear Regression object
lin_model = LinearRegression()

#Train Model
lin_model.fit(X_train, Y_train)
Y_pred = lin_model.predict(X_test)

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse_lin = mean_squared_error(Y_test, Y_pred)
#round(mse_lin, 3)
mae_lin = mean_absolute_error(Y_test, Y_pred)
#round(mae_lin, 3)
rmse_lin = np.sqrt(mean_squared_error(Y_test, Y_pred))
#round(rmse_lin, 3)
r2_lin = r2_score(Y_test, Y_pred)
#round(r2_lin, 3)
#rss_lin = np.square(Y_test - Y_pred)

print('Mean Squared Error is : ', mse_lin)
print('Mean Absolute Error is : ', mae_lin)
print('Root Mean Squared Error is : ', rmse_lin)
print('R Square score is : ', r2_lin)
#print('Residual Sum of Squares is : ', rss_lin)

Mean Squared Error is :  0.007658778867195367
Mean Absolute Error is :  0.05013362397742957
Root Mean Squared Error is :  0.0875144494766171
R Square score is :  0.14890246319303535

In [312]:
rss_lin = np.sum(np.square(Y_test - Y_pred))
#round(rss_lin, 3)
print('Residual Sum of Squares is : ', rss_lin)

Residual Sum of Squares is :  45.34762967266377

# What is the Residual Sum of Squares (in two decimal places)?

In [313]:
#label encoding
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['date']= label_encoder.fit_transform(data['date'])
data['date'].unique()

array([    0,     1,     2, ..., 19732, 19733, 19734])

In [314]:
#Firstly, we normalise our dataset to a common scale using the min max scaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalised_data = pd.DataFrame(scaler.fit_transform(data), columns=data.columns)

In [315]:
#splitting data
X = normalised_data.drop(['Appliances'], axis=1)

In [316]:
Y = normalised_data['Appliances']

In [317]:
# Splitting the dataset

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,random_state=42,test_size=0.3)

In [318]:
from sklearn.linear_model import LinearRegression

#Create Linear Regression object
lin_model = LinearRegression()

#Train Model
lin_model.fit(X_train, Y_train)
Y_pred = lin_model.predict(X_test)

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
mse_lin = mean_squared_error(Y_test, Y_pred)
#round(mse_lin, 3)
mae_lin = mean_absolute_error(Y_test, Y_pred)
#round(mae_lin, 3)
rmse_lin = np.sqrt(mean_squared_error(Y_test, Y_pred))
#round(rmse_lin, 3)
r2_lin = r2_score(Y_test, Y_pred)
#round(r2_lin, 3)
#rss_lin = np.square(Y_test - Y_pred)

#print('Mean Squared Error is : ', mse_lin)
#print('Mean Absolute Error is : ', mae_lin)
#print('Root Mean Squared Error is : ', rmse_lin)
#print('R Square score is : ', r2_lin)

In [319]:
rss_lin = np.sum(np.square(Y_test - Y_pred))
round(rss_lin, 2)
print('Residual Sum of Squares is : ', rss_lin)

Residual Sum of Squares is :  44.379512404881964

# What is the Root Mean Squared Error (in three decimal places)?

In [320]:
print('Root Mean Squared Error is : ', rmse_lin)

Root Mean Squared Error is :  0.0865752456776273

# What is the Coefficient of Determination (in two decimal places)?

In [321]:
print('R Square score is : ', r2_lin)

R Square score is :  0.16707237037224298

# Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [322]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.5)
ridge_reg.fit(X_train, Y_train)

Ridge(alpha=0.5)

In [323]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, Y_train)

Lasso(alpha=0.001)

In [324]:
#comparing the effects of regularisation
def get_weights_df(model, feat, col_name):
    #this function returns the weight of every feature
    weights = pd.Series(model.coef_, feat.columns).sort_values()
    weights_df = pd.DataFrame(weights).reset_index()
    weights_df.columns = ['Features', col_name]
    weights_df[col_name].round(3)
    return weights_df
linear_model_weights = get_weights_df(lin_model, X_train, 'Linear_Model_Weight')
ridge_weights_df = get_weights_df(ridge_reg, X_train, 'Ridge_Weight')
lasso_weights_df = get_weights_df(lasso_reg, X_train, 'Lasso_weight')

final_weights = pd.merge(linear_model_weights, ridge_weights_df, on='Features')
final_weights1 = pd.merge(final_weights, lasso_weights_df, on='Features')

In [325]:
final_weights1

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.421358     -0.370509     -0.000000
1         T_out            -0.244923     -0.188894      0.000000
2            T2            -0.210889     -0.172978      0.000000
3          RH_8            -0.114875     -0.113613     -0.000000
4            T9            -0.091561     -0.091006     -0.000000
5          date            -0.060972     -0.062123     -0.000000
6        RH_out            -0.048458     -0.027337     -0.052519
7          RH_9            -0.043218     -0.044886     -0.000000
8            T4            -0.038876     -0.040048     -0.000000
9          RH_7            -0.034350     -0.036300     -0.000000
10         RH_4            -0.025872     -0.027491      0.000000
11           T1            -0.022260     -0.039029      0.000000
12           T5            -0.013687     -0.017573     -0.000000
13          rv2             0.000966      0.000944      0.000000
14          rv1             0.000966      0.000944      0.000000
15         RH_6             0.008042      0.005076     -0.000000
16           T7             0.008276      0.008635     -0.000000
17         RH_5             0.008841      0.008768      0.000000
18   Visibility             0.009854      0.009626      0.000000
19  Press_mm_hg             0.010658      0.010250     -0.000000
20    Windspeed             0.019860      0.020737      0.000000
21         RH_3             0.075007      0.073733      0.000000
22           T8             0.080700      0.079626      0.000000
23    Tdewpoint             0.097928      0.066203      0.000000
24       lights             0.128035      0.128815      0.094766
25           T6             0.206100      0.187167      0.000355
26           T3             0.312809      0.310058      0.000000
27         RH_1             0.521431      0.481977      0.009921

In [326]:
#-0.421358(RH_2), 0.521431(RH_1)
final_weights1.agg(['min', 'max'])
final_weights1['Linear_Model_Weight'].agg(['min', 'max'])

min   -0.421358
max    0.521431
Name: Linear_Model_Weight, dtype: float64

# Train a ridge regression model with an alpha value of 0.4. Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [327]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, Y_train)

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
rmse_reg = np.sqrt(mean_squared_error(Y_test, Y_pred))
print('Root Mean Squared Error is : ', rmse_reg)

Root Mean Squared Error is :  0.0865752456776273

# Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [328]:
final_weights1

       Features  Linear_Model_Weight  Ridge_Weight  Lasso_weight
0          RH_2            -0.421358     -0.370509     -0.000000
1         T_out            -0.244923     -0.188894      0.000000
2            T2            -0.210889     -0.172978      0.000000
3          RH_8            -0.114875     -0.113613     -0.000000
4            T9            -0.091561     -0.091006     -0.000000
5          date            -0.060972     -0.062123     -0.000000
6        RH_out            -0.048458     -0.027337     -0.052519
7          RH_9            -0.043218     -0.044886     -0.000000
8            T4            -0.038876     -0.040048     -0.000000
9          RH_7            -0.034350     -0.036300     -0.000000
10         RH_4            -0.025872     -0.027491      0.000000
11           T1            -0.022260     -0.039029      0.000000
12           T5            -0.013687     -0.017573     -0.000000
13          rv2             0.000966      0.000944      0.000000
14          rv1             0.000966      0.000944      0.000000
15         RH_6             0.008042      0.005076     -0.000000
16           T7             0.008276      0.008635     -0.000000
17         RH_5             0.008841      0.008768      0.000000
18   Visibility             0.009854      0.009626      0.000000
19  Press_mm_hg             0.010658      0.010250     -0.000000
20    Windspeed             0.019860      0.020737      0.000000
21         RH_3             0.075007      0.073733      0.000000
22           T8             0.080700      0.079626      0.000000
23    Tdewpoint             0.097928      0.066203      0.000000
24       lights             0.128035      0.128815      0.094766
25           T6             0.206100      0.187167      0.000355
26           T3             0.312809      0.310058      0.000000
27         RH_1             0.521431      0.481977      0.009921

In [329]:
np.count_nonzero(final_weights1['Lasso_weight'])

4

# What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [330]:
from sklearn.linear_model import Lasso
lasso_reg = Lasso(alpha=0.001)
lasso_reg.fit(X_train, Y_train)

from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
rmse_lasso = np.sqrt(mean_squared_error(Y_test, Y_pred))
print('Root Mean Squared Error is : ', rmse_lasso)

Root Mean Squared Error is :  0.0865752456776273